<div class="overlay" (click)="closeModal()"></div>
<div class="modal-container">
  <div class="darker-background"></div>
  <form [formGroup]="cakeForm">
    <!-- Two inputs type file becouse one is covering image and second is convering + -->
    <img src="../../../assets/add-cake.svg">
    <input class="file-img" type="file" formControlName="image">
    <div class="plus-icon">+</div>
    <input class="file-plus" type="file" formControlName="image">
    <input type="text" formControlName="name" placeholder="Nazwa ciasta" [maxLength]="100">
    <div class="desc">
      <textarea #desc formControlName="desc" placeholder="Opis ciasta" [maxLength]="250" (input)="adjustHeight(desc)"></textarea>
      <div class="numberOfCharacters">{{ desc.value.length }}/{{ desc.maxLength }}</div>
    </div>
    <label id="portions">
      <label class="text">LICZBA PORCJI</label>
      <div class="values">
        <input id="4" type="radio" formControlName="numberOfPortions" value="4">
        <label for="4">4</label>
        <input id="8" type="radio" formControlName="numberOfPortions" value="8">
        <label for="8">8</label>
        <input id="12" type="radio" formControlName="numberOfPortions" value="12">
        <label for="12">12</label>
      </div>
    </label>
    <div class="cost-container">
      <label id="cost">
        <div class="text">CENA CIASTA</div>
        <div class="data">
          <input #cost type="number" formControlName="cost" placeholder="0">
          <div [style.color]="getStyle(cost)" class="currency-type">PLN</div>
        </div>
      </label>
      <label id="cost-per-portion">
        <div class="text">CENA PORCJI</div>
        <div class="data">
          <div class="value">10&nbsp;</div>
          <div class="currency-type">PLN</div>
        </div>
      </label>
    </div>
  </form>
</div>
